<div data-component="clock" class="clock">
  <div class="container">
    <div class="months countdown">
      <h3 class="sub-header">Months</h3>
      <span>{{countdown.months}}</span>
    </div>
    <div class="days countdown">
      <h3 class="sub-header">Days</h3>
      <span>{{countdown.days}}</span>
    </div>
    <div class="hours countdown">
      <h3 class="sub-header">Hours</h3>
      <span>{{countdown.hours}}</span>
    </div>
    <div class="minutes countdown">
      <h3 class="sub-header">Minutes</h3>
      <span>{{countdown.minutes}}</span>
    </div>
    <div class="seconds countdown">
      <h3 class="sub-header">Seconds</h3>
      <span>{{countdown.seconds}}</span>
    </div>
  </div>
</div>
