<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="header">
    Welcome to {{ title }}!
  </h1>
  <div *ngIf="holidayInfo.date; else loadingTemplate">
    <div class="next-holiday">
      <h4>
        <small>your next holiday is </small>{{holidayInfo.name}}<small> in:</small>
      </h4>
    </div>
    <app-clock [holidayDate]="holidayInfo.date"></app-clock>
  </div>
  <app-month-holidays></app-month-holidays>
</div>

<ng-template #loadingTemplate>
  Loading...
</ng-template>

